<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/header.ejs') %>
    <main>
        <div class="container">
            <% for (fighter of fighters) { %>

           
            <ul class="indexUl">
                <li class="indexLi" id="topFighterCard"><%= fighter.name %></li>
                <li class="indexLi"><img class="indexImg" src="<%= fighter.img %>"></li>
                <div class="bottomFighterCard">
                <li class="indexLi">Age: <%= fighter.age %> Years Old</li>
                <li class="indexLi">Weight Class: <%= fighter.weightClass %></li>
                <li class="indexLi">Hometown: <%= fighter.hometown %></li>
                <li class="indexLi">Ready To Fight? <%= fighter.readyToFight %></li>
                </div>
            </ul>
            
           <% } %>
        </div>
    </main>
</body>
</html>