<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/header.ejs') %>
    <main>
        <div class="container">
            <% for (fighter of fighters) { %>

            <ul class="indexUl">
                <li class="indexLi"><img class="indexImg" src="<%= fighter.img %>"></li>
                <div class="bottomFighterCard">
                <li class="indexLi" id="topFighterCard"><a href="/fighter/<%= fighter._id %>"><%= fighter.name %></a></li> 
                </div>
                <div class="buttons">
                    <a href="/fighter"><button>Edit Fighter</button></a>
                    <form>
                        <input type="submit" value="Delete Fighter"/>
                    </form>
                    </div>
            </ul>
          
           <% } %>
        </div>
    </main>
</body>
</html>