<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/header.ejs') %>
    <main>
        <div>
            <% for (fighter of fighters) { %>

            <ul>
                <li><%= fighter.name %></li>
                <li><img src="<%= fighter.img %>"></li>
                <li>Age: <%= fighter.age %> Years Old</li>
                <li>Weight Class: <%= fighter.weightClass %></li>
                <li>Hometown: <%= fighter.hometown %></li>
                <li>Ready To Fight? <%= fighter.readyToFight %></li>
            </ul>

           <% } %>
        </div>
    </main>
</body>
</html>